html {
  text-align: center;
  font-family: helvetica;
}

body {
  text-align: center;
}

.head {
  background: url("./images/the-flatiron-building.png");
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  font-family: helvetica;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  color: white;
  font-size: 18px
}

a {
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.Broadway {
  background: url("./images/the-flatiron-building.png");
  height: 50px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.contact {
  background-color: white;
}

h3 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin: 10px;
}

.bottomnav {
  text-align: left !important;
  color: white;
}

h4 {
  color: black;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#copyright {
  text-align: left !important;
  font-size: 11px
  color: white;
  background-color: dimgray;
}
